* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font: oblique bold 120% cursive;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777; }

.header {
  height: 95vh;
  background-image: url("../img/portada.jpg");
  background-size: cover;
  background-position: top;
  position: relative; }

.header:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4); }

.navegacion {
  margin: 0;
  padding: 0;
  background-color: rgba(184, 1, 184, 0.5);
  z-index: 2000;
  width: 100%;
  height: 120px; }

.navegacion:hover {
  background-color: rgba(184, 1, 184, 0.8); }

.navegacion-logo {
  height: 70px;
  margin-top: 40px;
  margin-left: 60px;
  margin-right: 50px;
  float: left; }

.navegacion-menu {
  float: left;
  font-size: 25px;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 40px; }

.navegacion-menu:hover {
  background-color: rgba(184, 1, 184, 0.8);
  cursor: pointer; }

.navegacion-menu a {
  color: #fff;
  text-decoration: none; }

/*Titulos principales*/
.header-caja-titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px; }

.header-titulo {
  color: #fff;
  text-transform: capitalize;
  animation-name: moverAbajo;
  animation-duration: 2s; }

.header-titulo__principal {
  display: block;
  font-size: 60px;
  font-weight: 700; }

.header-titulo__secunadario {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 4px; }

/*Fechas de registro y boton*/
.header-registro__date {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  text-align: center; }

.fecha {
  display: inline-block;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid white;
  background: none;
  margin-right: 20px;
  padding: 5px;
  width: 190px;
  outline: none;
  color: white;
  transition: 250ms width ease, 250ms border-color ease;
  cursor: pointer;
  animation-name: moverAbajo;
  animation-duration: 2s; }

.fecha:hover {
  width: 210px; }

.fecha:focus {
  width: 230px;
  border-color: #b801b8; }

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); }

/*Boton de registro*/
.header-registro__boton {
  position: absolute;
  top: 75%;
  left: 75%;
  transform: translate(-50%, -50%); }

.boton {
  display: inline-block;
  width: 100px;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: 3px solid #b801b8;
  border-radius: 15px;
  cursor: pointer;
  animation-name: moverAbajo;
  animation-duration: 2s; }

.boton:hover {
  color: #b801b8;
  border: 3px solid #fff; }

@keyframes moverAbajo {
  0% {
    opacity: 0;
    transform: translateY(-500px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
