@keyframes moverAbajo {
  0% {
    opacity: 0;
    transform: translateY(-50rem); }
  90% {
    opacity: 0.9;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font: oblique bold 120% cursive;
  font-weight: 400;
  line-height: 1.7; }

html {
  font-size: 62.5%; }
  @media (max-width: 56.25em) {
    html {
      font-size: 60%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (max-width: 23.44em) {
    html {
      font-size: 40%; } }

.header {
  height: 95vh;
  background-image: url("../img/portada.jpg");
  background-size: cover;
  background-position: top;
  position: relative; }
  .header:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000066; }
  .header-titulocaja {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40.8rem;
    text-align: center; }
  .header-titulo {
    color: #fff;
    text-transform: capitalize;
    animation-name: moverAbajo;
    animation-duration: 2s;
    transition: transform 0.5s; }
    .header-titulo__principal {
      display: block;
      font-size: 6rem;
      font-weight: 700; }
    .header-titulo__secunadario {
      display: block;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 0.4rem; }
    .header-titulo:hover {
      transform: scale(1.1); }

.boton {
  width: 10rem;
  height: 5rem;
  font-size: 2rem;
  color: #fff;
  background-color: transparent;
  border: 0.3rem solid #b801b8;
  border-radius: 1.5rem;
  cursor: pointer;
  animation-name: moverAbajo;
  animation-duration: 2s;
  transition: all 0.2s; }
  .boton:hover {
    color: #b801b8;
    border: 0.3rem solid #fff;
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 2rem #b801b880; }
  .boton:active {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.5rem 2rem #b801b8; }

.flechas {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 90%;
  left: 50%; }

.header-registro {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  text-align: center; }
  .header-registro__date {
    display: inline-block;
    font-size: 2rem;
    border: none;
    border-bottom: 0.1rem solid #fff;
    background: none;
    margin-right: 2rem;
    padding: 0.5rem;
    width: 19rem;
    outline: none;
    color: #fff;
    transition: 250ms width ease, 250ms border-color ease;
    cursor: pointer;
    animation-name: moverAbajo;
    animation-duration: 2s; }
    .header-registro__date:hover {
      width: 21rem; }
    .header-registro__date:focus {
      width: 23rem;
      border-color: #b801b8; }
  .header-registro input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); }

.burger__checkbox {
  display: none; }

.burger__button {
  color: #b801b8;
  background-color: transparent;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 3rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }

.burger__background {
  height: 100%;
  width: 25rem;
  position: fixed;
  right: -25rem;
  background-color: #3b003b;
  z-index: 1500;
  transition: all 0.8s; }

.burger__oscurecer {
  height: 100%;
  width: 0;
  position: fixed;
  background-color: #0000004d;
  z-index: 1000;
  opacity: 0;
  transition: all 0.8s; }

.burger__nav {
  height: 100%;
  width: 25rem;
  position: fixed;
  right: -1000rem;
  z-index: 1700;
  width: 100%;
  transition: all 0.8s; }

.burger__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  margin-left: 3rem;
  width: 100%; }

.burger__item {
  margin: 1rem; }

.burger__link {
  /**/
  font-size: 2rem;
  color: #fff;
  text-decoration: none; }

.burger__checkbox:checked ~ .burger__background {
  right: 0; }

.burger__checkbox:checked ~ .burger__nav {
  opacity: 1;
  width: 25rem;
  right: 0; }

.burger__checkbox:checked ~ .burger__oscurecer {
  width: 100%;
  opacity: 1; }

.burger__icon {
  position: relative;
  margin-top: 3.5rem; }
  .burger__icon, .burger__icon::before, .burger__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #b801b8;
    display: inline-block; }
  .burger__icon::before, .burger__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .burger__icon::before {
    top: -0.8rem; }
  .burger__icon::after {
    top: 0.8rem; }

.burger__button:hover .burger__icon::before {
  top: -1rem; }

.burger__button:hover .burger__icon::after {
  top: 1rem; }

.burger__checkbox:checked + .burger__button .burger__icon {
  background-color: transparent; }

.burger__checkbox:checked + .burger__button .burger__icon::before {
  top: 0;
  transform: rotate(135deg);
  background-color: #fff; }

.burger__checkbox:checked + .burger__button .burger__icon::after {
  top: 0;
  transform: rotate(-135deg);
  background-color: #fff; }

.oscurecer {
  width: 100%;
  height: 95vh;
  transition: all 0.5s; }

.navegacion:hover ~ .oscurecer {
  width: 100%;
  height: 95vh;
  background-color: #0000004d; }

.header-titulocaja:hover ~ .oscurecer {
  width: 100%;
  height: 95vh;
  background-color: #0000004d; }

.header-registro:hover ~ .oscurecer {
  width: 100%;
  height: 95vh;
  background-color: #0000004d; }

.navegacion {
  position: absolute;
  width: 100%;
  height: 8rem;
  animation-name: moverAbajo;
  animation-duration: 2s; }
  @media (max-width: 56.25em) {
    .navegacion {
      display: none; } }
  .navegacion-logo {
    height: 7rem;
    margin-top: 4rem;
    margin-left: 6rem;
    margin-right: 5rem;
    float: left; }
  .navegacion-menu {
    float: left;
    font-size: 25px;
    font-weight: bold;
    width: auto;
    height: auto;
    margin-left: 4rem;
    margin-top: 4rem;
    list-style: none; }
  .navegacion-menu:hover {
    cursor: pointer; }
  .navegacion-menu a {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 1s; }
  .navegacion-menu a:hover {
    background-size: 100% 2px;
    color: #b801b8; }
