*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 15px;
}

.header{
    height: 95vh;
    background-image: url('../img/portada.jpg');
    background-size: cover;
    background-position: top;
}