.boton{
    //display: inline-block;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: $color-blanco;
    background-color: transparent;
    border: 3px solid $color-rosa;
    border-radius: 15px;
    cursor: pointer;
    animation-name: moverAbajo;
    animation-duration: 2s;
    transition: all 0.2s;

    &:hover{
        color: $color-rosa;
        border: 3px solid $color-blanco;
        transform: translateY(-3px);
        box-shadow: 0 5px 20px $color-rosaA;
    }
    &:active{
        transform: translateY(-2px);
        box-shadow: 0 5px 20px $color-rosa;
    }
}