.oscurecer{
    width: 100%;
    height: 889px;
    transition: all 0.5s;
}

.navegacion:hover ~ .oscurecer{
    width: 100%;
    height: 889px;
    background-color: rgba(0, 0, 0, 0.3);
}
.header-titulocaja:hover ~ .oscurecer{
    width: 100%;
    height: 889px;
    background-color: rgba(0, 0, 0, 0.3);
}
.header-registro:hover ~ .oscurecer{
    width: 100%;
    height: 889px;
    background-color: rgba(0, 0, 0, 0.3);
}