.header{
    height: 95vh;
    background-image: url('../img/portada.jpg');
    background-size: cover;
    background-position: top;
    position: relative;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.4);
    }


    &-titulocaja{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 408px;
        text-align: center;
    }
    &-titulo{
        color: $color-blanco;
        text-transform: capitalize;
        animation-name: moverAbajo;
        animation-duration: 2s;
        transition: transform 0.5s;

        &__principal{
            display: block;
            font-size: 60px;
            font-weight: 700;
        
        }
        &__secunadario{
            display: block;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 4px;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
    
}